/* Wofi - Selenized Dark */
@define-color background #103c48;
@define-color foreground #adbcbc;
@define-color border #2d5b69;
@define-color selected #4695f7;
@define-color selected-text #103c48;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    background-color: @background;
    color: @foreground;
    border: none;
    border-radius: 0;
}

window {
    margin: 0px;
    border: 2px solid @border;
}

input {
    margin: 5px;
    border: 1px solid @border;
    padding: 8px;
}

#entry {
    margin: 2px;
    border: none;
    padding: 8px 12px;
}

#entry:selected {
    background-color: @selected;
    color: @selected-text;
}

#text {
    margin: 5px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}
